<!DOCTYPE html>
<div ng-controller="DropdownCtrl">
  
  <table>
    <tr>

      <td valign="top">
        <div>
          <div id="y-axis-data-selection">
            <div ng-repeat="series in ySeries">
              <div class="btn-group btn-group-sm y-axis-control-button" >
                <button class="btn btn-success btn-remove" ng-click="removeYAxisSelectionButton(series.id)" type="button"><span class="glyphicon glyphicon-minus"></span>
                </button>
                <div class="btn-group btn-group-sm" dropdown>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" dropdown-toggle ng-disabled="disabled">
                    {{ series.label }}&nbsp;&nbsp;<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="label in labels">
                      <a ng-click="setYAxisData(series.id,label)" ng-show="showLabels[labels.indexOf(label)]">{{ label }}</a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group btn-group-sm" dropdown>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" dropdown-toggle ng-disabled="disabled">
                    {{ series.type }}&nbsp;&nbsp;<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="type in graphTypes">
                      <a ng-click="setYAxisGraphType(series.id,type)">{{ type }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <p>
              <button class="btn btn-sm btn-success btn-add y-axis-add" ng-click="addNewYAxisSelectionButton()" type="button"><span class="glyphicon glyphicon-plus"></span>
              </button>
            </p>
          </div>
          <div style="width:500px; height:">
          <center><div id="graph">No Data Selected</div></center>
          </div>
          <div id="x-axis-data-selection">
            <div class="btn-group btn-group-sm dropup" dropdown>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" dropdown-toggle ng-disabled="disabled">
                {{ selectedXAxisLabel }}&nbsp;&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="label in labels">
                  <a ng-click="setXAxisData(label)">{{ label }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </td>

      <td valign="top" height="450">
        <center><h3>Selected Data Points</h3></center>
        <table st-safe-src="wellCollection" track style="width:600px" st-table="wellCollectionDisplay" class="table table-striped">
          <thead>
            <tr>
              <th st-sort="time">Time</th>
              <th st-sort="wellLabel">Well Label</th>
              <th>Stimuli</th>
              <th>Inhibitor</th>
              <th>Measurement Type</th>
              <th>Measurement</th>
            </tr>
            <tr>
              <!--<th colspan="6">
                <input st-search placeholder="global search" class="input-sm form-control" type="search" />
              </th>-->
              <th>
                <input st-search="time" ng-model="row" ng-change="updateBar(row)" placeholder="time" class="input-sm form-control" type="search" />
              </th>
              <th>
                <input st-search="wellLabel" ng-model="row" ng-change="updateBar(row)" placeholder="label" class="input-sm form-control" type="search" />
              </th>
              <th>
                <input st-search="compound" ng-model="row" ng-change="updateBar(row)" placeholder="stimuli " class="input-sm form-control" type="search" />
              </th>
              <th>
                <input st-search="substrate" ng-model="row" ng-change="updateBar(row)" placeholder="inhibitor " class="input-sm form-control" type="search" />
              </th>
              <th>
                <input st-search="measurementType" ng-model="row" ng-change="updateBar(row)" placeholder="filter" class="input-sm form-control" type="search" />
              </th>
              <th>
                <input st-search="measurement2" ng-model="row" ng-change="updateBar(row)" placeholder="filter" class="input-sm form-control" type="search" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in wellCollectionDisplay">
              <td>{{row.time}}</td>
              <td>{{row.wellLabel}}</td>
              <td>{{row.compound}}</td>
              <td>{{row.substrate}}</td>
              <td>{{row.measurementType}}</td>
              <td>{{row.measurement2}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination st-items-by-page="5" st-displayed-pages="14"></div>
              </td>
            </tr>
          </tfoot>
        </table>
        <center><button type="button" ng-click="updateTable2()" style="width:200px" class="btn btn-primary"/>
                <!--{{ selectedXAxisLabel }}--> Graph Selected Datapoints &nbsp;&nbsp; </button>

                <button type="button" ng-click="clearGraph()" class="btn btn-danger"/>Clear Graph </button>

              </center>
      </td>
    </tr>
  </table>
  <table style="width:100%">
    <tr>

      <td valign="top">
        <h3>Project</h3>
        <table style="width:200px" st-safe-src="projects" st-table="projectsDisplay" class="table table-striped">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>#Wells</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in projectsDisplay">
              <td>{{project.title}}</td>
              <td>{{project.nmbrPlates}}</td>
              <td>
                <input type="checkbox" ng-model="project.selected" ng-click="updateTable(project.title)" />
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td valign="top">
        <h3>Well Label</h3>
        <table st-safe-src="grid_labels" style="width:200px" st-table="labelCollection" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
            <!--<tr>
                  <th>
                    <input st-search="title" placeholder="search for label" class="input-sm form-control" type="search" />
                  </th>
                </tr>-->
          </thead>
          <tbody>
            <tr ng-repeat="grid_labels in labelCollection">
              <td>{{grid_labels.title}}</td>
              <td>
                <input type="checkbox" ng-model="grid_labels.selected" ng-click="updateTable2()" />
              </td>
            </tr>
          </tbody>
        </table>
      </td>

      <!-- st-safe-src="wellCollection" track style="width:600px" st-table="wellCollectionDisplay" -->
      <td valign="top">
        <h3>Stimuli</h3>
        <table style="width:200px" 
          st-safe-src="compoundCollection"  
          st-table="compoundCollectionDisplay"

          class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="compound in compoundCollectionDisplay">
              <td>{{compound.title}}</td>
              <td>
                <input type="checkbox" ng-model="compound.selected" ng-click="updateTable()" />
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination st-items-by-page="5" st-displayed-pages="5"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </td>
      <td valign="top">

        <h3>Inhibitor</h3>
        <table style="width:200px" st-safe-src="substrate" st-table="substrateCollection" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
            <!--<tr>
                  <th>
                    <input st-search="title" placeholder="search for label" class="input-sm form-control" type="search" />
                  </th>
                </tr>-->
          </thead>
          <tbody>
            <tr ng-repeat="substrate in substrateCollection">
              <td>{{substrate.title}}</td>
              <td>
                <input type="checkbox" ng-model="substrate.selected" ng-click="updateTable()" />
              </td>
            </tr>
          </tbody>
        </table>

      </td>
      <td valign="top">

        <h3>Measurement Type</h3>
        <table style="width:200px" st-safe-src="measurementTypes" st-table="measurementTypeCollection" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="type in measurementTypeCollection">
              <td>{{type.title}}</td>
              <td>
                <input type="checkbox" ng-model="type.selected" ng-click="updateTable()" />
              </td>
            </tr>
          </tbody>
        </table>

      </td>


    </tr>

  </table>

  <br>
  <h2>Saved Image </h2>



</div>

