<div class="row">
    <div class="col-md-12" >
        <table  st-table="projectsDisplay" st-safe-src="projects" class="table table-striped">
            <thead>
            <th st-sort="title">Project name</th>
            <th st-sort="description">Description</th>
            <th st-sort="owner">Owner</th>
            <th st-sort="date">Date</th>
            <tr>
                <th>
                    <input st-search="title" placeholder="search for project name" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="" placeholder="global search" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <label>
                        <input type="checkbox" ng-model="owner.checked" ng-click="checkedOwner(owner.checked)"/> You only?
                    </label>
                </th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projectsDisplay|filter:{owner:filterowner}">
                <td>{{project.title}}</td>
                <td>{{project.description}}</td>
                <td>{{project.owner}}</td>
                <td>{{project.date}}</td>
                <td>
                    <a class="btn btn-sm" href="#/plates" ng-click="makeActive(project.title)">
                        <i class="glyphicon glyphicon-th">
                        </i>
                    </a>
                    <button type="button" class="btn btn-sm" data-template="components/modal/aside.tpl.demo.html"
                            data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body"
                            content= "x" title="Edit project">
                        <i class="glyphicon glyphicon-edit">
                        </i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" data-animation="am-fade-and-slide-top" bs-modal="modal" data-template="components/modal/modal.tpl.demo.html"
                            content= "x">
                        <i class="glyphicon glyphicon-remove-circle">
                        </i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
