<div class="panel-group col-lg-12" >
    <h4>{{}}</h4>
    <div>
        <button type="button" class="btn btn-xs pull-right" ng-model="pleditVm.aside" bs-checkbox ng-show="pleditVm.aside">
            <i class="glyphicon glyphicon-chevron-left">
            </i>
        </button>
    </div>
</div>
<div class="panel-group col-md-4" ng-model="panels.activePanel" data-allow-multiple="true" bs-collapse ng-show="!pleditVm.aside">
    <admahes-projectpanel asideind="pleditVm.aside"></admahes-projectpanel>
    <admahes-platepanel></admahes-platepanel>
    <adamhes-plotlabels labelsdisplay="ActivePlate.plate.wellLabels" dropwellgroup="pleditVm.dropWellGroup" rows="ActivePlate.plate.wells"
                        filterplateeditor="pleditVm.filterPlateEditor"></adamhes-plotlabels>
</div>


<div class="panel-group col-lg-8" ><label style="white-space: nowrap;border:solid 4px black" ng-mouseleave="pleditVm.leftTable()">
    <div ng-attr-style="white-space: nowrap;height:{{pleditVm.boxsz}}px" ng-repeat="i in []|range:0:ActivePlate.plate.numberOfRows-1" ><!--
--><label ng-repeat="j in []|range:0:ActivePlate.plate.numberOfColumns-1" style="white-space: nowrap;padding:0px;margin:0px;border:0px width:0px;height:0px" class="noselect"><!--
    --><adamhes-singlewell well="ActivePlate.plate.wells[(i * ActivePlate.plate.numberOfColumns)+ j]" boxsize="{{pleditVm.boxsz}}"  tooltipdelay="{{pleditVm.tooltipdel}}"
                           filterarg="pleditVm.filterPlateEditor" dropgroup="pleditVm.dropWellGroup"
                           labels="ActivePlate.plate.wellLabels" rows="ActivePlate.plate.wells" controltypes="ActivePlate.plate.controlTypes" plate="ActivePlate.plate"
                    style="white-space: nowrap;padding:0px;margin:0px;border:0px width:0px;height:0px"
                           ng-mousedown="pleditVm.mouseDownWell(ActivePlate.plate.wells[(i * ActivePlate.plate.numberOfColumns)+ j], ActivePlate.plate.wellLabels)"
                    ng-mouseover="pleditVm.mouseOverWell(ActivePlate.plate.wells[(i * ActivePlate.plate.numberOfColumns)+ j], ActivePlate.plate.wells)"
                           ng-mouseup="pleditVm.mouseUpWell(ActivePlate.plate.wells[(i * ActivePlate.plate.numberOfColumns)+ j], ActivePlate.plate.wellLabels)"><adamhes-singlewell><!--
--></label><!--
--></div>
</label>
</div>

<div class="panel-group col-lg-12">
    <adamhes-wellstable rowsonedimw="ActivePlate.plate.wells" rowsonedimdisplayw="ActivePlate.plate.wellsDisplay" labelsdisplayw="ActivePlate.plate.wellLabels"
                        dropwellgroup="pleditVm.dropWellGroup"></adamhes-wellstable>
</div>
