<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a bs-collapse-toggle>
        Projects
        <button type="button" class="btn btn-xs pull-right " ng-model="asideind" bs-checkbox>
          <i class="glyphicon glyphicon-remove">
          </i>
        </button>
      </a>
    </h4>
  </div>
  <div class="panel-collapse" bs-collapse-target>

    <table  st-table="projpanVm.projectsDisplay" st-safe-src="projpanVm.projects" class="table table-striped">
      <thead>
      <th st-sort="name">Project name&nbsp;</th>
      <th st-sort="label">Label</th>
      <th st-sort="owner">Owner</th>
      <th st-sort="creationDate">Date</th>
      <tr>
        <th>
          <input st-search="name" placeholder="search for project" class="input-sm form-control" type="search"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr st-select-row="project" ng-repeat="project in projpanVm.projectsDisplay" ng-click="projpanVm.setActiveProject(project)">
        <td>{{project.name}}</td>
        <td>{{project.label}}</td>
        <td>{{project.owner}}</td>
        <td>{{project.creationDate}}</td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
