<div class="panel-group col-md-12">
  <button type="button" class="btn btn-xs pull-right" ng-model="qcVm.aside" bs-checkbox ng-show="qcVm.aside" >
    <i class="glyphicon glyphicon-chevron-left">
    </i>
  </button>
</div>

<div class="panel-group col-md-4" ng-model="panels.activePanel" data-allow-multiple="true" bs-collapse ng-show="!qcVm.aside">
  <admahes-projectpanel asideind="qcVm.aside"></admahes-projectpanel>
  <admahes-platepanel></admahes-platepanel>

  <div class="panel  panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a bs-collapse-toggle>
          <span class="label label-default">Measurements</span>
        </a>
      </h4>
    </div>

    <div class="panel-collapse" bs-collapse-target>

      <table  st-table="ActivePlateResult.plateResult.measurementTypes" class="table table-striped">
        <thead>
        <th st-sort="name">Type</th>

        <tr>
          <th>
            <input st-search="name" placeholder="global search for type" class="input-sm form-control" type="search"/>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr st-select-row="type" ng-repeat="type in ActivePlateResult.plateResult.measurementTypes"
            ng-click="qcVm.setActiveMeasurement(type.name,ActivePlateResult.plateResult.valueslider, ActivePlateResult.plateResult)">
          <td>{{type.name}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2" class="text-center">
            <div st-pagination="" st-items-by-page="15"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

<div class="panel-group" ng-if="ActivePlateResult.resultExists">
  <div class="panel-group {{qcVm.aside | classgrid}}">
    <h4>Measurement type <span class="label label-primary">{{ActivePlateResult.plateResult.activeMeasurement.measurementType}}</span>
      Timestamp {{ActivePlateResult.plateResult.valueslider}} <span class="label label-success">{{ActivePlateResult.plateResult.activeMeasurement.timeStamp}}</span>
    </h4>
  </div>

  <div class="panel-group col-md-2">
    <input ng-model="WellBoxSize.size"  type="text" id="{{id}}" slider options="qcVm.boxsizerange" ng-disabled="disabled" />
  </div>

  <div class="panel-group {{qcVm.aside | classgrid}}">
    <div class="panel-group col-md-8"><label style="white-space: nowrap;border:solid 4px black">
      <div ng-attr-style="white-space: nowrap;height:{{WellBoxSize.size}}px" ng-repeat="i in []|range:0:ActivePlateResult.plateResult.numberOfRows-1" ><!--
--><label ng-repeat="j in []|range:0:ActivePlateResult.plateResult.numberOfColumns-1" style="white-space: nowrap;padding:0px;margin:0px;border:0px width:0px;height:0px"><!--
    --><adamhes-qc-single-well well="ActivePlateResult.plateResult.activeMeasurement.wells[(i * ActivePlateResult.plateResult.numberOfColumns)+ j]" boxsize="{{WellBoxSize.size}}"
                               wellcollors="qcVm.wellcollors"  valuerange="ActivePlateResult.plateResult.valuerange"
                               controltypes="ActivePlateResult.plateResult.controlTypes"
                               projectid="{{ActivePlateResult.plateResult.projectId}}" plateid="{{ActivePlateResult.plateResult.plateId}}"
                               style="white-space: nowrap;padding:0px;margin:0px;border:0px width:0px;height:0px"></adamhes-qc-single-well><!--
--></label><!--
--></div>
    </label>
    </div>


    <div class="panel-group {{qcVm.aside | classgrid}}" ng-show="ActivePlateResult.plateResult.options.to > 1">
      <input ng-model="ActivePlateResult.plateResult.valueslider" type="text" id="mySlider1" slider options="ActivePlateResult.plateResult.options"
             ng-change="qcVm.setActiveMeasurement(ActivePlateResult.plateResult.activeMeasurement.measurementType, ActivePlateResult.plateResult.valueslider, ActivePlateResult.plateResult)"/>
    </div>

    <div class="panel-group {{qcVm.aside | classgrid}}">
    </div>

    <div class="panel-group col-md-8" style="white-space: nowrap"><span class="label label-info">{{ActivePlateResult.plateResult.valuerange.minvalue}}</span><!--
--><label ng-repeat="i in []|range:0:50"style="background-color:hsl(0,100%,{{i*2}}%);width: 20px;height: 20px"></label><!--
  --><span class="label label-info">{{ActivePlateResult.plateResult.valuerange.maxvalue}}</span></div>

  </div>
