<!DOCTYPE html>
<div>
  <h1>Data Analysis</h1>
  <br />
  <div ng-controller="DropdownCtrl">

    <!--<div class="btn-group" dropdown is-open="status.isYopen">
      <button type="button" class="btn btn-success dropdown-toggle"  dropdown-toggle ng-disabled="disabled">
        Select y-axis data <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-model="selectedItem" ng-options="label in measurementData">
          <a ng-click="setYAxisData(label)">{{label}}</a>
        </li>
      </ul>
      <p>{{ yAxisSelectionErrorMessage }}</p>
    </div> -->

    <h4>Select y-axis data</h4>
    <select ng-model="selectedItem" ng-click="setYAxisData(selectedItem)" ng-options="c as (c.labelName) for c in measurementData">
    </select>
    <p>{{ yAxisSelectionErrorMessage }}</p>
    <br>

    <div id="graph"></div>

    <h4>Select x-axis data</h4>
    <select ng-model="selectedItem2" ng-click="setXAxisData(selectedItem2)" ng-options="c as (c.labelName) for c in measurementData">
    </select>
    <p>{{ xAxisSelectionErrorMessage }}</p>

    <!--<div class="btn-group dropup" dropdown is-open="status.isXopen">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Select x-axis data <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="label in labels">
          <a ng-click="setXAxisData(label)">{{label}}</a>
        </li>
      </ul>
      <p>{{ xAxisSelectionErrorMessage }}</p>
    </div> -->


  </div>
  <div ng-controller="gridsController">
    <table style="valign:top" width="100%">
      <tbody>
        <tr>
          <td valign="top">
            <h2>Pick a Project</h2>
            <table st-safe-src="projects" style="width:20%" st-table="projectsDisplay" class="table table-striped">
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Qty Plates</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="project in projectsDisplay">
                  <td>{{project.title}}</td>
                  <td>{{project.nmbrPlates}}</td>
                  <td>
                    <input type="checkbox" ng-model="project.selected" ng-click="updateTable(project.title)" />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td valign="top">
            <h2>Pick a Label</h2>
            <table st-safe-src="labels" style="width:43%" st-table="labelCollection" class="table table-striped">
              <thead>
                <tr>
                  <th>Label Name</th>
                  <th></th>
                </tr>
                <!--<tr>
                  <th>
                    <input st-search="title" placeholder="search for label" class="input-sm form-control" type="search" />
                  </th>
                </tr>-->
              </thead>
              <tbody>
                <tr ng-repeat="label in labelCollection">
                  <td>{{label.title}}</td>
                  <td>
                    <input type="checkbox" ng-model="label.selected" ng-click="updateTable()" />
                  </td>
                </tr>
              </tbody>
            </table>
            <h2>Pick a Compound</h2>
            <table st-safe-src="compound" style="width:43%" st-table="compoundCollection" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th></th>
                </tr>
                <!--<tr>
                  <th>
                    <input st-search="title" placeholder="search for label" class="input-sm form-control" type="search" />
                  </th>
                </tr>-->
              </thead>
              <tbody>
                <tr ng-repeat="compound in compoundCollection">
                  <td>{{compound.title}}</td>
                  <td>
                    <input type="checkbox" ng-model="compound.selected" ng-click="updateTable()" />
                  </td>
                </tr>
              </tbody>
            </table>
            <br> 
            <h2>Pick a Substrate</h2>
            <table st-safe-src="substrate" style="width:43%" st-table="substrateCollection" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th></th>
                </tr>
                <!--<tr>
                  <th>
                    <input st-search="title" placeholder="search for label" class="input-sm form-control" type="search" />
                  </th>
                </tr>-->
              </thead>
              <tbody>
                <tr ng-repeat="substrate in substrateCollection">
                  <td>{{substrate.title}}</td>
                  <td>
                    <input type="checkbox" ng-model="substrate.selected" ng-click="updateTable()" />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td valign="top">
            <h2>Selected Data Points</h2>
            <table st-safe-src="wellCollection" style="width:33%;" st-table="wellCollectionDisplay" class="table table-striped">
              <thead>
                <tr>
                  <th>Well ID</th>
                  <th>Well Label</th>
                  <th>Compound</th>
                  <th>Substrate</th>
                  <th>Measurement1</th>
                  <th>Measurement2</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in wellCollectionDisplay">
                  <td>{{row.id}}</td>
                  <td>{{row.wellLabel}}</td>
                  <td>{{row.compound}}</td>
                  <td>{{row.substrate}}</td>
                  <td>{{row.measurement1}}</td>
                  <td>{{row.measurement2}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6" class="text-center">
                    <div st-pagination st-items-by-page="8" st-displayed-pages="7"></div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

