<div class="panel-group col-md-4" ng-model="panels.activePanel" data-allow-multiple="true" bs-collapse ng-show="!plresVm.aside">
  <admahes-projectpanel asideind="plresVm.aside"></admahes-projectpanel>
  <admahes-platepanel></admahes-platepanel>
</div>

<div class="{{plresVm.aside | classgrid}}" >


  <table  st-table="ActivePlateResult.plateResult.measurements" class="table table-striped">
    <thead>
    <tr>
      <th>
        {{ ActiveProject.project.name}} {{ ActivePlate.plate.name}}
      </th>

      <th>Experiment name&nbsp; {{ActivePlateResult.plateResult.name}}</th>
      <th>User &nbsp;{{ActivePlateResult.plateResult.user}}</th>

      <th ng-show="ActivePlate.plate">
        <button type="button" class="btn btn-sm btn-success" data-template="plateresult/aside.download.result.html"
                data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body"
                content= "x" title="Upload result for {{ ActiveProject.project.name}} {{ ActivePlate.plate.name}}" ng-click="uploadResultSet()">
          <i class="glyphicon glyphicon-plus" >
          </i> Download results
        </button>
      </th>
      <th ng-show="ActivePlateResult.resultExists">
        <button type="button" class="btn btn-sm btn-danger" data-template="plateresult/modal.delete.result.html"
                data-animation="am-fade-and-slide-top" bs-modal="modal"
                content= "x" data-container="body" title="Delete result?">
          <i class="glyphicon glyphicon-plus" >
          </i> Delete results
        </button>
      </th>
      <th>
        <button type="button" class="btn btn-xs pull-right" ng-model="plresVm.aside" bs-checkbox ng-show="plresVm.aside" >
          <i class="glyphicon glyphicon-chevron-left">
          </i>
        </button>
      </th>
    </tr>
    <tr>
      <th st-sort="measurementType">Measurement type</th>
      <th st-sort="date">TimeStamp</th>
      <th st-sort="zFactor">zFactor</th>
      <th st-sort="zPrimeFactor">zPrimeFactor</th>
    </tr>
    <tr>
      <th>
        <input st-search="measurementType" placeholder="search for measurement types" class="input-sm form-control" type="search"/>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr st-select-row="measurement" ng-repeat="measurement in ActivePlateResult.plateResult.measurements">
      <td>{{measurement.measurementType}}</td>
      <td>{{measurement.timeStamp}}</td>
      <td>{{measurement.zFactor}}</td>
      <td>{{measurement.zPrimeFactor}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2" class="text-center">
        <div st-pagination="" st-items-by-page="15"></div>
      </td>
    </tr>
    </tfoot>
  </table>


</div>

