<table  st-table="rowsonedimdisplayw" st-safe-src="rowsonedimw" class="table table-striped">
  <thead>
  <th st-sort="{{label.name}}" ng-repeat="label in labelsdisplayw">{{label.name}}</th>
  <th st-sort="controltype">Control type</th>
  <th st-sort="color">Color</th>
  <tr>
    <th>
      <input st-search="" placeholder="search" class="input-sm form-control" type="search"/>
    </th>
    <th>
    </th>
    <th>
    </th>
    <th>
    </th>
    <th>
      <button type="button" class="btn btn-sm" ng-click="wellstabVm.resetSelection(rowsonedimw,dropwellgroup)">
        <i>Reset</i>
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="well in rowsonedimdisplayw"  st-select-row="well" st-select-mode="multiple" ng-click="wellstabVm.toogleRowSelection(well,labelsdisplayw, rowsonedimw,dropwellgroup)">
    <td ng-repeat="label in labelsdisplayw">{{well[label.name]}}</td>
    <td>{{well.controlType}}</td>
    <td><input class="form-control" ng-model="well.color" type="color" ng-change="wellstabVm.updateWellUniqLabelValues(well,well.color)" disabled></td>
    <td>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5" class="text-center">
      <div st-pagination="" st-items-by-page="20"></div>
    </td>
  </tr>
  </tfoot>
</table>
