<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <div class="aside-body">


        <table>
          <tr><td>Plate name &nbsp;</td> <td><input type="text" ng-model="plateVm.newplate.name"></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td>Label</td> <td><input type="text" ng-model="plateVm.newplate.label"></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td>Rows</td> <td><input type="text" ng-model="plateVm.newplate.numberOfRows" ng-disabled="plateVm.plateAction === 'edit'"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td>Columns</td> <td><input type="text" ng-model="plateVm.newplate.numberOfColumns"  ng-disabled="plateVm.plateAction === 'edit'"
                                          onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td>Barcode</td> <td><input type="text" ng-model="plateVm.newplate.barcode"></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td>Protocol id</td> <td><input type="text" ng-model="plateVm.newplate.protocolId"></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td>Owner </td><td><label>{{plateVm.newplate.owner}}</label></td></tr>
        </table>

        <table  st-table="plateVm.newplate.wellLabels" class="table table-striped">
          <thead>
          <th st-sort="">Label</th>

          <tr>
            <th>
              <input type="text" ng-model="newlabel">
              <button type="button" ng-click="plateVm.addLabel(plateVm.newplate.wellLabels,newlabel)" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-plus">
                </i> Add label
              </button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="label in plateVm.newplate.wellLabels" st-select-row="label">
            <td>{{label.name}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-danger" ng-click="plateVm.newplate.wellLabels.splice($index, 1);">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
              </button>
            </td>
          </tr>

          </tbody>
        </table>

        <table  st-table="plateVm.newplate.controlTypes" class="table table-striped">
          <thead>
          <th st-sort="">Control types</th>
          <tr>
          <th>Type</th>
          <th>Dispaly char</th>
          </tr>
          <tr>
            <th><input type="text" ng-model="newcontrolType"></th>
            <th>
              <input type="text" ng-model="newdisplayChar">
            </th>
            <th>
              <button type="button" ng-click="plateVm.addControlType(plateVm.newplate.controlTypes,newcontrolType,newdisplayChar)" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-plus">
                </i> Add control type
              </button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="controlType in plateVm.newplate.controlTypes" st-select-row="controlType">
            <td>{{controlType.name}}</td>
            <td>{{controlType.displayChar}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-danger" ng-click="plateVm.newplate.controlTypes.splice($index, 1);">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
              </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>


      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="plateVm.saveChangesPlate(plateVm.plateAction,plate);$hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
