<div class="panel  panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a bs-collapse-toggle>
        <span class="label label-default">Plates</span> &nbsp;&nbsp;&nbsp;{{ActivePlate.plate.name}}
      </a>
    </h4>
  </div>

  <div class="panel-collapse" bs-collapse-target>

    <table  st-table="platepanVm.platesDisplay" st-safe-src="platepanVm.plates" class="table table-striped">
      <thead>

      <th st-sort="name">Plate name</th>
      <th st-sort="label">Label</th>
      <th st-sort="owner">Owner</th>
      <th st-sort="date">Date</th>
      <tr>
        <th>
          <input st-search="" placeholder="global search for plate" class="input-sm form-control" type="search"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr st-select-row="plate" ng-repeat="plate in platepanVm.platesDisplay| filter:{projectId:ActiveProject.project.id}" ng-click="platepanVm.setActivePlate(plate)">
        <td>{{plate.name}}</td>
        <td>{{plate.label}}</td>
        <td>{{plate.owner}}</td>
        <td>{{plate.date}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
