<div class="panel  panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a bs-collapse-toggle>
        Plates
      </a>
    </h4>
  </div>

  <div class="panel-collapse" bs-collapse-target>

    <table  st-table="platepanVm.platesDisplay" st-safe-src="platepanVm.plates" class="table table-striped">
      <thead>
      <div class="form-group" ng-show="ActiveProject.project">
        <div class="input-group">
          <div class="input-group-addon">{{ActiveProject.project.name}}</div>
          <button type="button" class="btn btn-sm" ng-click="clearActiveProject()">
            <i >Show all projects</i>
          </button>
        </div>
      </div>
      <th st-sort="name">Plate name</th>
      <th st-sort="label">Label</th>
      <th st-sort="owner">Owner</th>
      <th st-sort="date">Date</th>
      <tr>
        <th>
          <input st-search="" placeholder="global search for plate" class="input-sm form-control" type="search"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr st-select-row="plate" ng-repeat="plate in platepanVm.platesDisplay| filter:{projectId:ActiveProject.project.id}" ng-click="platepanVm.setActivePlate(plate)">
        <td>{{plate.name}}</td>
        <td>{{plate.label}}</td>
        <td>{{plate.owner}}</td>
        <td>{{plate.date}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
