<div class="panel-group col-md-4" ng-model="panels.activePanel" data-allow-multiple="true" bs-collapse ng-if="!plateVm.aside">
  <admahes-projectpanel asideind="plateVm.aside"></admahes-projectpanel>
</div>

<div class="{{plateVm.aside | classgrid}}" >
  <table  st-table="plateVm.platesDisplay" st-safe-src="plateVm.plates" class="table table-striped">
    <thead>
    <th st-sort="name">Plate name&nbsp;</th>
    <th st-sort="label">Label</th>
    <th st-sort="numberOfRows">Dimension</th>
    <th st-sort="barcode">Barcode</th>
    <th st-sort="protocolid">Protocol id</th>
    <th st-sort="owner">Owner</th>
    <th st-sort="date">Date</th>

    <th>
      <button type="button" class="btn btn-xs pull-right" ng-model="plateVm.aside" bs-checkbox ng-show="plateVm.aside" >
        <i class="glyphicon glyphicon-chevron-left">
        </i>
      </button>
    </th>
    <tr>

      <th>
        {{ActiveProject.project.name}}
      </th>
      <th>
        <button type="button" class="btn btn-sm btn-success" data-template="plate/aside.edit.plate.html"
                data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body"
                content= "x" title="Add plate in {{plateVm.ActiveProject.project.name}}" ng-click="plateVm.addNewPlate(ActiveProject.project)"
                ng-disabled="ActiveProject.project==''">
          <i class="glyphicon glyphicon-plus">
          </i> Add plate
        </button>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th >
        <button type="button" class="btn btn-sm" ng-click="plateVm.clearActiveProject()" ng-disabled="ActiveProject.project==''">
          <i >Show plates for all projects</i>
        </button>
      </th>

    </tr>
    <tr>
      <th>
        <input st-search="name" placeholder="search for plates" class="input-sm form-control" type="search"/>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr st-select-row="plate" ng-repeat="plate in plateVm.platesDisplay | filter:{projectId:ActiveProject.project.id}" ng-click="plateVm.setActivePlate(plate)">
      <td>{{plate.name}}</td>
      <td>{{plate.label}}</td>
      <td>{{plate.numberOfRows}}x{{plate.numberOfColumns}}</td>
      <td>{{plate.barcode}}</td>
      <td>{{plate.protocolid}}</td>
      <td>{{plate.owner}}</td>
      <td>{{plate.creationDate}}</td>
      <td>
        <a class="btn btn-sm" href="#/plateeditor" >
          <i class="glyphicon glyphicon-pushpin">
          </i>
        </a>
        <button type="button" class="btn btn-sm" data-template="plate/aside.edit.plate.html"
                data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body"
                content= "x" title="Download">
          <i class="glyphicon glyphicon-upload">
          </i>
        </button>
        <button type="button" class="btn btn-sm" data-template="plate/aside.edit.plate.html"
                data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body"
                content= "x" title="Edit plate" ng-click="plateVm.editPlate(plate)">
          <i class="glyphicon glyphicon-edit">
          </i>
        </button>
        <button type="button" class="btn btn-sm btn-danger" data-animation="am-fade-and-slide-top" bs-modal="modal" data-template="plate/modal.delete.plate.html"
                content= "x" data-container="body" title="Delete plate?">
          <i class="glyphicon glyphicon-remove-circle">
          </i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

