<div class="popover" tabindex="-1" ng-show="content">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
    <div class="popover-content">
        <form name="popoverForm">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Label</div>
                    <input class="form-control" ng-model="well.label">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Substrate</div>
                    <input class="form-control" ng-model="well.substrate">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Dosage</div>
                    <input class="form-control" ng-model="well.dosage">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Control</div>
                    <input class="form-control" ng-model="well.control">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Choose color</div>
                    <input id="well.color" class="form-control" ng-model="well.color" type="color">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Date</div>
                    <input class="form-control" ng-model="well.date">
                </div>


            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="popover.saved=true;$hide()">Save changes</button>
            </div>
        </form>
    </div>
</div>