<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <div class="popover-content">
    <form name="popoverForm">

      <div class="form-group">
        <div ng-repeat="label in labels">
          <div class="input-group" >
            <div class="input-group-addon">{{label.name}}</div>
            <input class="form-control" ng-model="well[label.name]">
          </div>
        </div>

        <div class="input-group" >
          <div class="input-group-addon">Control type</div>
          <select class="form-control" ng-model="well.controlType" ng-options="ct.name as ct.name for ct in controltypes"></select>
          <div class="input-group-addon">
            <button type="button" class="btn btn-xs" ng-click="well.controlType=''">
              <i class="glyphicon glyphicon-remove">
              </i>
            </button>
          </div>
        </div>
      </div>


      <div class="form-actions">
        <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="singlewellVm.saveChangesWell(plate);$hide()">Save changes</button>
      </div>
    </form>
  </div>
</div>
