<div class="popover" tabindex="-1" ng-show="content">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
    <div class="popover-content">
        <form name="popoverForm">
            <div class="form-group"  ng-repeat="label in singlewellVm.labels">
                <div class="input-group" >
                    <div class="input-group-addon">{{label.name}}</div>
                    <input class="form-control" ng-model="well[label.name]">
                </div>
            </div>

            <div class="form-actions">
                <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="popover.saved=true;$hide()">Save changes</button>
            </div>
        </form>
    </div>
</div>
